:root {
    --color-bg: #f4f6fb;
    --color-card: #e0e6ed;
    --color-detail: #64748b;
    --color-text: #222;
    --color-blue: #2563eb;
    --color-blue-hover: #1e40af;
    --color-btn-text: #fff;
    --color-secondary: #64748b;
    --color-secondary-hover: #475569;
}

body {
    font-family: Arial, sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    background: linear-gradient(135deg, #92b6ff, #2563eb);
    height: 93vh;
}

.profile-container {
    background: var(--color-card);
    max-width: 400px;
    height: 500px;
    max-height: 500px;
    margin: 40px auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(100, 116, 139, 0.08);
    text-align: center;
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.profile-data {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-data label {
    font-weight: 500;
    color: var(--color-detail);
}

input[type="password"] {
    border: 1px solid var(--color-detail);
    background: #fff;
    color: var(--color-text);
    border-radius: 5px;
    padding: 8px;
    outline: none;
}

.change-pass-btn {
    background: var(--color-blue);
    color: var(--color-btn-text);
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.2s;
}

.change-pass-btn:hover {
    background: var(--color-blue-hover);
}

.secondary-btn {
    background: var(--color-secondary);
    color: var(--color-btn-text);
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    transition: background 0.2s;
}

.back-btn {
    background: var(--color-secondary);
    color: var(--color-btn-text);
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 15px;
    transition: background 1s;
}


.secondary-btn:hover {
    background: var(--color-secondary-hover);
}

.input-IMG{
    border: #2563eb 1px;
    background: #2563eb;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    align-content: center;
    margin: auto;
    color: #fff;
}

